/*StartingPage*/
.StartingPage body {
  background-color: #171c20;
  color: lightgray;
}

.StartingPage #selectionMenuContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.StartingPage h1 {
  color: #171c20;
  font-family: sans-serif;
  text-align: center;
  font-size: 75px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #35bd43;
}

.StartingPage #keuzeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
}

.StartingPage #keuzeContainer p {
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  color: lightgray;
  margin-top: 0px;
  margin-bottom: 10px;
}

.StartingPage #keuzeContainer a {
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  color: lightgray;
  margin-bottom: 10px;
}

/*StartingPage*/
/*CV*/
@media screen and (min-width: 1600px) {
  .CV body {
    background-color: #171c20;
    color: lightgray;
    background-image: repeating-linear-gradient(45deg, #171c20 0, #171c20 2px, transparent 0, transparent 50%);
    background-size: 27px 27px;
    background-color: #181e23;
  }
  .CV h2 {
    font-size: 100px;
  }
  .CV header {
    color: #35bd43;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 32px;
    padding-top: -20px;
  }
  .CV .flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .CV h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .CV #scheidingslijn {
    height: 1px;
    width: 95%;
    background-color: #313131;
  }
  .CV .tussenstreepje {
    background-color: #313131;
    width: 4px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 0px;
  }
  .CV .keyword {
    color: #35bd43;
  }
  .CV h2 {
    color: #171c20;
    font-family: sans-serif;
    text-align: center;
    font-size: 100px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #35bd43;
    margin-bottom: 0px;
    margin-top: 80px;
  }
  .CV p {
    font-size: 30px;
  }
  .CV #inleiding {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    text-align: center;
    padding-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .CV #inleiding img {
    max-width: 450px;
  }
  .CV .trim {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 500px;
    max-width: 275px;
    overflow: hidden;
    border-style: solid;
    border-color: lightgray;
  }
  .CV #opleidingen {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    margin-top: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .CV #opleidingEnstudiesTitel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 775px;
  }
  .CV #opleidingen h2 {
    margin-top: 0px;
    margin-right: 55px;
    font-size: 100px;
  }
  .CV #opleidingEnstudiesInhoud {
    max-width: 775px;
  }
  .CV #opleidingen p {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 30px;
  }
  .CV #Hobby {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-top: 100px;
  }
  .CV #hobbytitel {
    width: 775px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .CV #Hobby h2 {
    margin-top: 0px;
    font-size: 100px;
    margin-left: 50px;
  }
  .CV #hobbyinhoud {
    margin-top: 18px;
    width: 775px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .CV #Hobby p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 50px;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
  }
  .CV #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 100px;
    padding-left: 50px;
    margin-bottom: 50px;
  }
  .CV #contact h2 {
    margin-top: 0px;
    font-size: 100px;
  }
  .CV #contact p {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 15px;
  }
  .CV a {
    color: lightgray;
  }
  .CV #downloadLink {
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    margin-bottom: 25px;
    font-size: 160%;
    border-style: solid;
    border-color: #35bd43;
    border-width: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1600px) {
  .CV body {
    background-color: #171c20;
    color: lightgray;
    background-image: repeating-linear-gradient(45deg, #171c20 0, #171c20 2px, transparent 0, transparent 50%);
    background-size: 27px 27px;
    background-color: #181e23;
  }
  .CV header {
    color: #35bd43;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 32px;
    padding-top: -20px;
  }
  .CV .flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .CV h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .CV #scheidingslijn {
    height: 1px;
    width: 95%;
    background-color: #313131;
  }
  .CV .tussenstreepje {
    background-color: #313131;
    width: 4px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 0px;
  }
  .CV .keyword {
    color: #35bd43;
  }
  .CV h2 {
    font-size: 70px;
    color: #171c20;
    font-family: sans-serif;
    text-align: center;
    font-size: 75px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #35bd43;
    margin-bottom: 0px;
    margin-top: 80px;
  }
  .CV #inleiding {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    text-align: center;
    padding-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .CV #inleiding img {
    max-width: 450px;
  }
  .CV .trim {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 500px;
    max-width: 275px;
    overflow: hidden;
    border-style: solid;
    border-color: lightgray;
  }
  .CV #opleidingen {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    margin-top: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .CV #opleidingen h2 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    font-size: 65px;
  }
  .CV #opleidingEnstudiesInhoud {
    max-width: 775px;
    text-align: center;
  }
  .CV #opleidingen p {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .CV #Hobby {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
  }
  .CV #Hobby h2 {
    font-size: 65px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 25px;
  }
  .CV #Hobby p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
  }
  .CV #hobbyinhoud {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .CV #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
    padding-left: 0px;
    margin-bottom: 50px;
  }
  .CV #contact h2 {
    font-size: 65px;
    margin-top: 0px;
    margin-bottom: 25px;
  }
  .CV #contact p {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 22px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .CV a {
    color: lightgray;
  }
  .CV #downloadLink {
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    margin-bottom: 50px;
    font-size: 160%;
    border-style: solid;
    border-color: #35bd43;
    border-width: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
  }
}

/*#35bd43*/
/*CV*/
/*CVPassword*/
.CVPassword body {
  background-color: #171c20;
  color: lightgray;
}

.CVPassword h1 {
  color: lightgray;
  font-family: sans-serif;
  text-align: center;
  font-size: 50px;
  margin-bottom: 150px;
}

.CVPassword p {
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  color: lightgray;
  margin-top: 0px;
  margin-bottom: 10px;
}

.CVPassword label {
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  color: lightgray;
  margin-right: 25px;
}

.CVPassword #wachtwoordInvoerVeld {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.CVPassword input {
  margin-right: 25px;
}

#stageInhoud {
  margin-top: 18px;
    width: 775px;
  margin-left: 20px;
}

/*CVPassword*/
/*Scrollbar*/
::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(358deg, #757575 12%, #757575 50%);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #757575 14%, #757575 64%);
}

::-webkit-scrollbar-track {
  background: #171c20;
  border-radius: 10px;
}

/*Scrollbar*/
/*# sourceMappingURL=main.css.map */
