
/*StartingPage*/

.StartingPage {

    body {
        background-color: #171c20;
        color: lightgray;
    }

    #selectionMenuContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        color: #171c20;
        font-family: sans-serif;
        text-align: center;
        font-size: 75px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #35bd43;
    }

    #keuzeContainer {
        display: flex;
        flex-direction: column;
        max-width: 50%;
    }

    #keuzeContainer p {
        font-family: 'Rubik', sans-serif;
        font-size: 22px;
        color: lightgray;
        margin-top: 0px;
        margin-bottom: 10px;
        
    }

    #keuzeContainer a {
        font-family: 'Rubik', sans-serif;
        font-size: 22px;
        color: lightgray;
        margin-bottom: 10px;
    }

}

/*StartingPage*/

/*CV*/

.CV {

    
    @media screen and (min-width: 1600px) {
        body {
            background-color: #171c20;
            color: lightgray;
            background-image: repeating-linear-gradient(45deg, #171c20 0, #171c20 2px, transparent 0, transparent 50%);
            background-size: 27px 27px;
            background-color: #181e23;
        }

        h2 {
            font-size: 100px;
        }
    
        header {
            color: #35bd43;
            font-family: 'Rubik', sans-serif;
            text-align: center;
            font-size: 32px;
            padding-top: -20px;
        }
    
        .flexContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        h1 {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    
        #scheidingslijn {
            height: 1px;
            width: 95%;
            background-color: rgb(49, 49, 49);
        }
    
        .tussenstreepje {
            background-color: rgb(49, 49, 49);
            width: 4px;
            height: 40px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 75px;
            margin-bottom: 0px;
        }
    
        .keyword {
            color: #35bd43;
        }
    
        h2 {
            color: #171c20;
            font-family: sans-serif;
            text-align: center;
            font-size: 100px;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #35bd43;
            margin-bottom: 0px;
            margin-top: 80px;
        }

        p {
            font-size: 30px;
        }
    
        #inleiding {
            font-family: 'Rubik', sans-serif;
            font-size: 22px;
            text-align: center;
            padding-top: 0px;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    
        #inleiding img {
            max-width: 450px;
        }
    
        .trim {
            display: flex;
            justify-content: center;
            max-height: 500px;
            max-width: 275px;
            overflow: hidden;
            border-style: solid;
            border-color: lightgray;
        }
    
        #opleidingen {
            font-family: 'Rubik', sans-serif;
            font-size: 22px;
            margin-top: 75px;
            display: flex;
        }
    
        #opleidingEnstudiesTitel {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 775px;
            // min-width: 100px;
        }
    
        #opleidingen h2 {
            margin-top: 0px;
            margin-right: 55px;
            font-size: 100px;
            // margin-top: 0px;
            // margin-left: 180px;
        }
    
        #opleidingEnstudiesInhoud {
            max-width: 775px;
        }
    
        #opleidingen p {
            margin-left: 50px;
            margin-top: 10px;
            margin-bottom: 0px;
            font-size: 30px;
            // margin-left: 100px;
            // margin-top: 10px;
        }
    
        #Hobby {
            display: flex;
            flex-direction: row-reverse;
            margin-top: 100px;
        }
    
        #hobbytitel {
            width: 775px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    
        #Hobby h2 {
            margin-top: 0px;
            font-size: 100px;
            margin-left: 50px;
        }
    
        #hobbyinhoud {
            margin-top: 18px;
            width: 775px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    
        #Hobby p {
            margin-top: 0px;
            margin-bottom: 0px;
            margin-right: 50px;
            font-family: 'Rubik', sans-serif;
            font-size: 30px;
            // margin-top: 10px;
            // margin-right: 90px;
        }
    
        #contact {
            display: flex;
            margin-top: 100px;
            padding-left: 50px;
            margin-bottom: 50px;
        }
    
        #contact h2 {
            margin-top: 0px;
            font-size: 100px;
        }
    
        #contact p {
            font-family: 'Rubik', sans-serif;
            font-size: 30px;
            margin-left: 100px;
            margin-top: 15px;
        }
    
        a {
            color: lightgray;
        }

        #downloadLink {
            font-family: 'Rubik', sans-serif;
            text-decoration: none;
            margin-bottom: 50px;
            font-size: 160%;
            border-style: solid;
            border-color: #35bd43;
            border-width: 1px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 8px;
            padding-right: 8px;
            border-radius: 10px;
        }
     
    }

    @media screen and (max-width: 1600px) {
        body {
            background-color: #171c20;
            color: lightgray;
            background-image: repeating-linear-gradient(45deg, #171c20 0, #171c20 2px, transparent 0, transparent 50%);
            background-size: 27px 27px;
            background-color: #181e23;
        }
    
        header {
            color: #35bd43;
            font-family: 'Rubik', sans-serif;
            text-align: center;
            font-size: 32px;
            padding-top: -20px;
        }
    
        .flexContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        h1 {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    
        #scheidingslijn {
            height: 1px;
            width: 95%;
            background-color: rgb(49, 49, 49);
        }
    
        .tussenstreepje {
            background-color: rgb(49, 49, 49);
            width: 4px;
            height: 40px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 75px;
            margin-bottom: 0px;
        }
    
        .keyword {
            color: #35bd43;
        }
    
        h2 {
            font-size: 70px;
            color: #171c20;
            font-family: sans-serif;
            text-align: center;
            font-size: 75px;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #35bd43;
            margin-bottom: 0px;
            margin-top: 80px;
        }
    
        #inleiding {
            font-family: 'Rubik', sans-serif;
            font-size: 22px;
            text-align: center;
            padding-top: 0px;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    
        #inleiding img {
            max-width: 450px;
        }
    
        .trim {
            display: flex;
            justify-content: center;
            max-height: 500px;
            max-width: 275px;
            overflow: hidden;
            border-style: solid;
            border-color: lightgray;
        }
    
        #opleidingen {
            font-family: 'Rubik', sans-serif;
            font-size: 22px;
            margin-top: 75px;
            display: flex;
            flex-direction: column;
        }
    
        #opleidingen h2 {
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 40px;
            font-size: 65px;
            // font-size: 75px;
            // margin-top: 0px;
            // margin-left: 180px;
        }
    
        #opleidingEnstudiesInhoud {
            max-width: 775px;
            text-align: center;
        }
    
        #opleidingen p {
            margin-left: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            // margin-left: 100px;
            // margin-top: 10px;
        }
    
        #Hobby {
            display: flex;
            flex-direction: column;
            margin-top: 100px;
        }
    
        #Hobby h2 {
            font-size: 65px;
            margin-top: 0px;
            margin-left: 0px;
            margin-bottom: 25px;
        }
    
        #Hobby p {
            margin-top: 0px;
            margin-bottom: 0px;
            margin-right: 0px;
            margin-left: 20px;
            font-family: 'Rubik', sans-serif;
            font-size: 22px;
            // margin-top: 10px;
            // margin-right: 90px;
        }

        #hobbyinhoud {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    
        #contact {
            display: flex;
            flex-direction: column;
            margin-top: 100px;
            padding-left: 0px;
            margin-bottom: 50px;
        }
    
        #contact h2 {
            font-size: 65px;
            margin-top: 0px;
            margin-bottom: 25px;
        }
    
        #contact p {
            font-family: 'Rubik', sans-serif;
            text-align: center;
            font-size: 22px;
            margin-left: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    
        a {
            color: lightgray;
        }

        #downloadLink {
            font-family: 'Rubik', sans-serif;
            text-decoration: none;
            margin-bottom: 50px;
            font-size: 160%;
            border-style: solid;
            border-color: #35bd43;
            border-width: 1px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 8px;
            padding-right: 8px;
            border-radius: 10px;
        }
    }


}

/*#35bd43*/

/*CV*/

/*CVPassword*/

.CVPassword {
    
    body {
        background-color: #171c20;
        color: lightgray;
    }

    h1 {
        color: lightgray;
        font-family: sans-serif;
        text-align: center;
        font-size: 50px;
        margin-bottom: 150px;
    }

    p {
        font-family: 'Rubik', sans-serif;
        font-size: 22px;
        color: lightgray;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    label {
        font-family: 'Rubik', sans-serif;
        font-size: 22px;
        color: lightgray;
        margin-right: 25px;
    }

    #wachtwoordInvoerVeld {
        display: flex;
        justify-content: center;
    }

    input {
        margin-right: 25px;
    }
}

/*CVPassword*/


/*Scrollbar*/

::-webkit-scrollbar{
    width: 11px;
    height: 11px;
    }
    ::-webkit-scrollbar-thumb{
    background: linear-gradient(358deg, #757575 12%,#757575 50%);
    border-radius: 30px;
    }
    ::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #757575 14%,#757575 64%);
    }
    ::-webkit-scrollbar-track{
    background: #171c20;
    border-radius: 10px;
    }
    
    /*Scrollbar*/

   